.submit-buttom {
  color: black
}

.alignComponents {
  display: flex;
  justify-content: center
}

.alignComponents centralized {
  display: block;
}

.btn {
  width: 150px;
  margin-bottom: 20px;
}
