.submit-buttom {
  color: black
}

.alignComponents {
  display: flex;
  justify-content: center
}

.alignComponents centralized {
  display: block;
}

.error-message {
  text-align: center;
  font-size: 16px;
  color: red
}

.btn {
  width: 150px;
  margin-bottom: 20px;
}
