<div class="alignComponents">
  <div>

    <div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="******" type="password" [formControl]="password" required>
        </mat-form-field>
      </div>
    </div>

    <div class="alignComponents">
      <button
        class="btn"
        mat-flat-button color="primary"
        color="primary"
        *ngIf="!password.errors && !email.errors"
        (click)="login()"
      >
        Entrar
      </button>
    </div>

    <div class="alignComponents" *ngIf="password.errors || email.errors">
      <button
        class="btn"
        mat-flat-button color="primary"
        color="primary"
        [disabled]="true"
        (click)="redirect()"
      >
        Entrar
      </button>
    </div>

    <div *ngIf="password.errors || email.errors">
      EMAIL OU SENHA INCORRETOS
    </div>

    <div>
      Não possui conta???
    </div>

      <button
      mat-flat-button
      color="accent"
      (click)="register()"
      >
      Registre
    </button>
  </div>
</div>
